<html>

<head>

</head>


<body>


<h2> table </h2>



<% @products.each do |product| %>

<h2> <%= product.title %> </h2>
 <p> <%= product.price %> </p>
 <p> <%= product.path_to_photo %> </p>

<br/><br/><br/><br/>

<% end %>



<div class="container">


 



 
<div class="row">

 <% @products.each do |product| %>

  

 <% if product.id == 3 %>

  <div class="row">

<% end %>

    <div class="col">
     
		<a data-fancybox="gallery"   href="<%= product.path_to_photo%>">
    	<img src="<%= product.path_to_photo%>"  style ="width: 200px">
		</a>
		<br/>
		<span  class="badge badge-success"><%= product.price %></span>
		<span  class="badge badge-warning"><%= product.title %></span><br/>
		<button type="button" class="btn btn-danger">Add to cart</button>
		<p><%=product.id%></p>

    </div>



    
<% end %>
  
  </div>


  



</div>














</body>




</html>

